* {
  margin: 0;
  padding: 0;
}

/* HEADER-STYLING */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.76);
  width: 100%;
  max-height: 60px;
}

.logo {
  font-size: 24px;
  color: #c9d1d9;
  padding: 10px;
}

.navbar {
  margin-left: auto;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
}

.navbar-menu li {
  margin-right: 10px;
}

.navbar-menu a {
  text-decoration: none;
  color: ivory;
}

/* HOME PAGE */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 40px;
}

.site-header,
.main-content,
.site-footer {
  flex: 1;
}

main {
  width: 80%;
  min-height: 200px;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 40px 0;
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 20px;
}

/* FOOTER-STYLING */
.site-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.76);
  width: 100%;
  color: #c9d1d9;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  margin: 10px 60px;
  padding: 20px;
  border-radius: 10px;
}

.column h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.column p,
.column a {
  margin: 0;
}

/*  FORMULÄR-STYLING */

form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.reset-password {
  margin-top: 20px;
}
.reset-password p {
  margin-bottom: 10px;
}

.account-form,
.my-newsletter-form {
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 50%;
}

.account-form,
.my-newsletter-form label {
  display: block;
  margin-bottom: 3px;
}

.my-newsletter-form input,
.my-newsletter-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"],
.account-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* STYLING FÖR MY SUBSCRIBERS */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

table tr {
  border-bottom: 1px solid #dee2e6;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #dee2e6;
}

table th {
  background-color: #f8f9fa;
  color: #495057;
  font-weight: bold;
}

table tr:hover {
  background-color: #f8f9fa;
}

/* NEWSLETTERS */

.newsletter-item {
  margin-top: 20px;
  padding: 20px 0;
}

/* KNAPPAR */

.btn-primary {
  background-color: #87b392;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #6e9c79;
}
